.Input {
  position: relative;
  height: 1.8em;
  padding: 0.2em;
  background-color: rgba($color: cyan, $alpha: 0.2);

  &-cursor {
    position: absolute;
    display: inline-block;
    color: blue;
    font-size: 1.2em;
    margin-left: -5px;
    margin-top: -4px;
    visibility: hidden;
  }

  &.inline {
    display: inline-block;
    min-width: 2em;
  }

  &.focused {
    background-color: rgba($color: cyan, $alpha: 0.5);

    .Input-cursor {
      visibility: visible;
      animation: blink-cursor infinite 0.5s alternate;
    }
  }
}

@keyframes blink-cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
