.Input {
  position: relative;
  height: 1.8em;
  padding: 0.2em;

  &-cursor {
    position: absolute;
    display: inline-block;
    background-color: rgb(51, 125, 255);
    height: 1.2em;
    width: 2px;
    margin-left: 3px;
    font-size: 1.2em;
    visibility: hidden;
  }

  &.inline {
    display: inline-block;
    min-width: 2em;
  }

  &.focused {
    .Input-cursor {
      visibility: visible;
      animation: blink-cursor infinite 0.5s alternate;
      pointer-events: none;
    }
  }
}

@keyframes blink-cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
