.Function {
  strong {
    color: magenta;
    font-weight: bold;
  }
  header {
    display: flex;
    align-items: center;
    > div {
      display: flex;
      align-items: center;
    }
  }
}

.FunctionCall {
  display: flex;
}
