.Input {
  appearance: none;
  border: none;
  position: relative;
  height: 1.8em;
  padding: 0.2em;
  min-width: 2em;
  color: inherit;
  font: inherit;
  background: transparent;

  &.invalid {
    text-decoration: wavy;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: red;
  }
}
