.Input {
  appearance: none;
  border: none;
  position: relative;
  height: 1.8em;
  padding: 0 0.5em;
  min-width: 2em;
  color: inherit;
  font: inherit;
  background: transparent;
  box-sizing: content-box;

  &.invalid {
    text-decoration: wavy;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: red;
  }

  &.alignRight{
    text-align: right;
  }
}