.Input {
  appearance: none;
  border: none;
  position: relative;
  height: 1.8em;
  padding: 0 0.5em;
  padding-left: 0;
  min-width: 0.5em;
  color: inherit;
  font: inherit;
  background: transparent;
  box-sizing: content-box;

  &.invalid {
    text-decoration: wavy;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: red;
  }

  &.alignRight {
    text-align: right;
  }
}

strong + {
  .Input,
  .Expression .Input,
  span > .Expression .Input {
    padding-left: 0.5em;
  }
}

.Select + .Expression .Input {
  padding-left: 0.5em;
}
